.footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
  background-color: rgb(236, 236, 227);
  background-size: cover;
  padding: 5px;
}
select {
  border: none;
}
.btn-post {
  background-color: rgb(11, 101, 179);
  border-radius: 2px;
  width: 20%;
  margin-left: 1%;
}

.submit-section {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  height: 100%;
  margin-left: 20%;
}
.getgifs {
  width: 100%;
  padding-left: 10%;
}
